certifi==2018.8.24
chardet==3.0.4
dj-database-url==0.5.0
Django==2.1.1
django-appconf==1.0.2
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==0.0.7
django-compressor==2.2
django-govuk-forms==0.6
django-govuk-template==0.7
django-libsass==0.7
django-jquery==3.1.0
docopt==0.6.2
future==0.16.0
idna==2.7
libsass==0.15.0
monotonic==1.5
notifications-python-client==5.2.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
PyJWT==1.6.4
pyparsing==2.2.1
python-dotenv==0.9.1
pytz==2018.5
rcssmin==1.0.6
rjsmin==1.0.12
requests==2.19.1
scss==0.8.73
six==1.11.0
urllib3==1.23
watch==0.1.13
