{% extends 'ras_app_template.html' %}

{% block inner_content %}
        <div class ="page-body">

         <p></p>
         <body>
           Please enter in either part or full name of the person who should approve your access, then press search.
         </body>
         <p></p>
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <!-- <p>If you are happy with your choice please press submit.</p> -->
          <input type="submit" class="button" value="Search">
        </form>
      </div>
      <p></p>
      <p></p>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if staff_list %}
      <p>--------------------------------------------------------------------------------------------------------------------------</p>
      <p></p>
      <p>Click on the link of the name of the person who should approve your access.</p>
      <ul style="list-style-type:none">
        {% for staff in staff_list %}

            <!-- <li><a href="{{ referer_path }}?{{ request.GET.urlencode }}&chosen_staff={{ staff }}">{{ staff }}</a></li> -->
            <li><a href="{{ referer_path }}?{{ request.GET.urlencode }}&approver_name={{ staff }}">{{ staff }}</a></li>
        {% endfor %}
      </ul>
     {% endif %}
{% endblock %}
