{% extends 'ras_app_template.html' %}
{% load static %}
{% load govuk_template_base %}


{% block head %}
  {{ block.super }}
  <link href="{% static 'css/demo.css' %}" media="screen" rel="stylesheet" />

{% endblock %}

{% block inner_content %}
<h1 class="heading-xlarge">Request Access Service</h1>
<!--
    <body>
      	<div class ="page-header">
        <h1>Remote Access Service</h1>
      </div>

            {% block content %}
            {% endblock %}
        <div class ="page-footer">
        		<h5><a href="/admin">WebOps ___ </a></h5>
        	</div>
    </body> -->
{% endblock %}
