<!-- <!DOCTYPE html> -->

{% extends 'ras_app_template.html' %}

{% block inner_content %}
        <div class ="page-body">
          <p></p>
          Hi {{ request.user.first_name }} {{ request.user.last_name }}
          <p></p>

          <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button" value="Submit">
          </form>
        </div>

        <p></P>
        <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</P>
        <p></P>
        <div align="left">
        <a href="/request-status/">List all your outstanding requests</a>
        </div>

        <div align="right">
        <a href="/admin/login">Admin</a>
      </div>
      <p></P>
      <div align="right">
      <a href="/access-requests/">List requests to approve</a>
      </div>

{% endblock %}
