<!-- howdy/templates/next-page.html -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static "css/ras.css" %}">
        <meta charset="utf-8">
        <title>Access List</title>
    </head>
    <body>
      	<div class ="page-header">
        <h1>Access List!</h1>
      </div>
        <div class ="page-body">
        <form action="/user-details/" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit">
        </form>
      </div>
        <div class ="page-footer">
        		<h5><a href="/admin">WebOps ___ </a></h5>
        	</div>
    </body>
</html>
